<mat-toolbar class="header">
  <button class="menu" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">Super Peças </span>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav id="navBar" #sidenav [opened]="true" mode="side">

    <div class="navbar-content">
      <img src="https://png.pngtree.com/png-vector/20240315/ourmid/pngtree-silver-super-car-png-image_11974437.png" class="foto-icon">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/019/879/186/small_2x/user-icon-on-transparent-background-free-png.png" class="user-icon">
      <div class="username">Luiz Henrique</div>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/pages/dashboard/listar">
        <div class="item">
          <span class="material-symbols-outlined">
            home
          </span>
          <span>Home </span>
        </div>
      </a>
      <a mat-list-item routerLink="/pages/carro/listar">
        <div class="item">
          <span class="material-symbols-outlined">
            directions_car
          </span>
          <span>Carros </span>
        </div>
      </a>
      <a mat-list-item routerLink="/pages/peca/listar">
        <div class="item">
          <span class="material-symbols-outlined">
        construction
          </span>
          <span> Peças </span>
        </div>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
