.menu {
  background-color: transparent;
  color: white;
  border: none;
}

.container {
  height: calc(100% - 64px);
}

.item {
  display: flex;
  align-items: center;

}

.icon {
  margin-right: 8px;
}

.content {
  padding: 8px;
}

.material-symbols-outlined {

  margin: 10px;
}

.title {
  margin-left: 10px;
  color: aliceblue;
}

.header {

  background-color: #c51117;
}

#navBar {
  background-color: #f3f3f3;
  border-radius: 0;
  width: 267px;
}

.user-icon {
  width: 200px;
  text-align: center;
  margin: 30px;
}

.foto-icon {
  width: 200px;
  text-align: center;
  margin: 30px;
  border: 3px solid white;
}

img {
  width:200px
}

.username {
  font-size: 18px; /* Tamanho da fonte do nome de usuário */
  font-weight: bold; /* Fonte em negrito, se desejar */
  text-align: center;
}


