
.title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  margin-left:500px;
  padding-bottom: 10px;
}

.buttons-container {
  margin-top: 20px;
  text-align: right;
  margin-right: 10px;
}

mat-form-field{
  margin: 25px;
  width: 460px;
}

.header-container {
  display: flex;
  align-items: center;
}

.title-image {
  width: 150px;
  margin-right: 25px;
}



